pkgbase = gabbro-bin
	pkgdesc = Quantum-resistant password manager
	pkgver = 0.1.0_alpha.15
	pkgrel = 1
	url = https://github.com/gabbro-foss/gabbro
	arch = x86_64
	license = GPL-3.0-only
	depends = gtk3
	depends = libfido2
	depends = libcbor
	depends = pcsclite
	optdepends = xdg-desktop-portal-gtk: native file dialogs (open/save/pick folder)
	optdepends = pcscd: NFC YubiKey support (running pcscd required)
	provides = gabbro
	conflicts = gabbro
	options = !strip
	options = !debug
	source = gabbro-0.1.0-alpha.15-linux-x86_64.tar.gz::https://github.com/gabbro-foss/gabbro/releases/download/v0.1.0-alpha.15/gabbro-0.1.0-alpha.15-linux-x86_64.tar.gz
	source = LICENSE::https://raw.githubusercontent.com/gabbro-foss/gabbro/v0.1.0-alpha.15/LICENSE
	sha256sums = 61b3785503033e5fc8152eaf4969f6f2f905345a746b1a60c6a23afca2940e69
	sha256sums = 9eb52965f51761109c61c9f91ed4c2ab4017c1d8b14bbb02fb178dbaf1346545

pkgname = gabbro-bin
